/***************************
Add your custom styles below
****************************/

.nav-bar {
	background-color:white;
}

nav {
    /**background-image: url("../images/creampaper.png");
    background-repeat: repeat; */
}

/**** SKEW LIENS */
.nav-bar:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 200%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}


.github-container {
	height:100%;
}

.bg--secondary {
  background-image: url("../images/creampaper.png");
  background-repeat: repeat;
  padding-bottom:1em;
}

.bg--ternary {
  background-image: url("../images/creampaper.png");
  background-repeat: repeat;
  padding-bottom:1em;
}

.overflow-scroll {
	height:100%;
	overflow:scroll;
}

h4.h4 {
  font-style:italic;
  font-weight:normal;
  font-size:1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.blog-post__title {
  padding:1em 0 4em 0 !important;
}


hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width:90%;
    margin-left:auto;
    margin-right:auto;
}